[Unit]
Description=lnx-infrabot API service
After=network.target

[Service]
WorkingDirectory=/home/pi/lnx-infrabot/raspberrypi
ExecStart=/usr/bin/env bash -lc 'source .venv/bin/activate && python3 ./main.py'
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
